Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Plugins

# Ignore art assets
Content
!/Content/UnrealSurvivors/
/Content/UnrealSurvivors/*
!/Content/UnrealSurvivors/Core/
!/Content/UnrealSurvivors/Maps/
